# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://user_test:pass_test@backend-e2e-db:5432/moodtracker_db_test"
POSTGRES_USER="user_test"
POSTGRES_PASSWORD="pass_test"
POSTGRES_DB="moodtracker_db_test"

JWT_SECRET="super-secret-key_test"
JWT_EXPIRES_IN="3600s"