# version: '3.9'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - root-node-modules:/workspace/node_modules
      - backend-node-modules:/workspace/backend/node_modules
      - frontend-node-modules:/workspace/frontend/node_modules
    working_dir: /workspace
    ports:
      - "3000:3000"
      - "5173:5173"
    depends_on:
      - db
    environment:
      - DATABASE_URL=${DATABASE_URL}
      - RETURN_TO_SECRET=${RETURN_TO_SECRET}
    command: sleep infinity
  db:
    image: postgres
    restart: always
    volumes:
      - type: tmpfs
        target: /dev/shm
        tmpfs:
          size: 134217728
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    ports:
      - "5432:5432"

  pw:
    # image: mcr.microsoft.com/playwright:v1.55.0-noble
    build:
      context: .
      dockerfile: pw.Dockerfile
    working_dir: /workspace/frontend
    init: true # ゾンビ進程対策（tini）
    ipc: host # Chromium の共有メモリ不足対策
    volumes:
      - ..:/workspace:cached
      - frontend-node-modules:/workspace/frontend/node_modules
    ports:
      - "9323:9323"
    environment:
      - API_BASE_URL=http://localhost:5173/__e2e__
      - NODE_ENV=development
    # command: bash -lc "npm ci && npx playwright test"
    # command: bash -lc "safe-chain npm ci && safe-chain npx playwright test"
    command: bash -lc "aikido-npm ci && aikido-npx playwright test"

volumes:
  root-node-modules:
  backend-node-modules:
  frontend-node-modules:
